html {
  /* Schriftgrösse 16px */
  font-size: 62.5%;
  /* ~ 10px */
}

body {
  font-family: Arial, Courier, sans-serif;
  font-size: 2rem;
  color: #000;
  background: #eee;
  margin: 0;
  margin-bottom: 7rem;
  padding: 1rem;
}

.mt5 {
  margin-top: 5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 2rem;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 100%;
  background: #fff;
  margin: 0 auto;
}

#src {
    text-align: right;
}

p {
  margin: 0;
  padding: 0;
}

button {
  padding: 0.8rem 1.6rem;
  border: none;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 5px 5px 10px #e3e3e3, -5px -5px 10px #ffffff;
  font-size: 1.8rem;
  cursor: pointer;
}

@media all and (max-width: 640px) {
  .row {
    flex-wrap: wrap;
  }
}


button:hover {
  opacity: 0.8;
}

/*
#####################
header
#####################
*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5rem;
}

img {
  max-width: 100%;
  margin: 0 -2rem 0 2rem;
}

@media all and (min-width: 640px) {
  header {
    flex-wrap: nowrap;
  }

  img {
    max-width: 50%;
    order: 2;
  }
}

h1 {
  color: #ff3017;
  font-size: 2.6vw;
}
/*
#####################
first
#####################
*/
main.first div:nth-child(1) {
  font-size: 16vw;
  font-weight: 900;
  color: #0a71ff;
  float: left;
  line-height: 13vw;
}

main.first div:nth-child(2) {
  font-size: 6vw;
  color: #0a71ff;
}

main.first div:nth-child(3) {
  font-size: 6.5vw;
  color: #ff7c24;
}

main.first div:nth-child(3) span {
  font-size: 8vw;
}

main.first div:nth-child(4) {
  font-size: 9vw;
  color: #ff3017;
  clear: both;
}

@media (min-width: 1200px) {
  main.first div:nth-child(4) {
    font-size: 130px;
  }
}

/*
#####################
second
#####################
*/
main.second {
  max-width: 800px;
  margin: auto;
}

/*
#####################
third
#####################
*/
main.third {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

main.third div {
  flex-basis: 25%;
  margin: 1rem;
  min-width: 30rem;
  font-size: 0.8em;
  font-weight: 600;
}

main.third span {
  color: #0a71ff;
  font-weight: 900;
}

main.third .beer {
  margin-top: 2.5rem;
}

.beer .number {
  font-size: 6em;
  float: left;
}

.beer .caption {
  display: block;
  font-size: 2.5em;
  margin-top: 0.3em;
}

main.third .breakdown {
  text-align: center;
  margin-top: 2rem;
}

.breakdown span {
  line-height: 0.5em;
}

.breakdown .number {
  font-size: 6em;
}

.breakdown .caption {
  font-size: 2em;
}

main.third .wow {
  margin-top: 4rem;
}

.wow .number {
  font-size: 4em;
  line-height: 0.5em;
}
